<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Todos</title>
    <link href="/style.css" rel="stylesheet">
    <!--<style>-->
    <!--td{-->
    <!--border: 1px solid black;-->
    <!--}-->
    <!--</style>-->
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<form action="/todo/search"  method="post">
    <label>Find by title: <input type="text" name="title" required></label>
    <input type="submit" value="Submit">
</form>
<h1>TODOS FOR TODAY:</h1>
<a th:href="@{/todo/add}">Add new todo</a><br>
<br>
<table>

    <thead>
    <tr>
        <td>ID</td>
        <td>ACTION</td>
        <td>DONE</td>
        <td>URGENT</td>
        <td>ASSIGNEE</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td th:text="${todo.isDone()}"></td>
        <td th:text="${todo.assignee} ? ${todo.getAssignee().getName()} : 'no assignee'"></td>
        <td><a th:href="@{/todo/delete(id=${todo.getId()})}">DELETE</a></td>
        <td><a th:href="@{/todo/{id}/edit(id=${todo.getId()})}">EDIT</a></td>
    </tr>
    </tbody>
</table>
<ul>
<li><a th:href="@{/todo/list(active=true)}">Active todos</a></li>
    <li><a th:href="@{/todo/list(active=false)}">All todos</a></li>
</ul><br>
<a href="/assignee">List of assignees</a></li>
</body>
</html>
