<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo list per assignee</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<h1 th:text="${assignee.name}+' -s todos:'"></h1>
<table>

    <thead>
    <tr>
        <td>ID</td>
        <td>ACTION</td>
        <td>DONE</td>
        <td>URGENT</td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td th:text="${todo.isDone()}"></td>
    </tr>
    </tbody>
</table>
<a href="/assignee">Back to assignees</a>
</body>
</html>
