<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editing a todo item</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<form action="#" th:action="@{/todo/{id}/edit(id=${todo.id})}" th:object="${todo}" method="post">
    <label>Todo description<input type="text" th:field="*{title}" required></label>
    <label>Urgent<input type="checkbox" th:field="*{urgent}" ></label>
    <label>Done<input type="checkbox" th:field="*{done}" ></label>
    <label>Assignee
    <select th:field="*{assignee}">
        <option th:each="assignee: ${assignees}" th:value="${assignee.id}" th:text="${assignee.name}"></option>
    </datalist>
    </select>
    </label>
    <input type="submit" value="Submit">
</form>
</body>
</html>
