<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{style.css}">
</head>
<body>
<form action="search.html" id="search-form">
    <input type="text">
    <input type="submit" form="search-form"/>
</form>
<br>
<a href="/only-available">Only available</a>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="item : ${list}">

        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()}"></td>
        <td th:text="${item.getQuantity()}"></td>

    </tr>

</table>
</body>
</html>
