<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1>Peer to peer chat program</h1>
<ul>
    <li th:text="${defaultmessage.userName}"></li>
    <div th:text="${defaultmessage.text}"></div>
</ul>
<ul th:each="message: ${messages}">
    <li th:text="${message.userName}"></li>
    <div th:text="${message.text}"></div>
</ul>

<form action="/newmessage" method="post" id="id">
    <textarea name="comment" form="id" placeholder="Enter your message here..."></textarea>
    <input type="submit">
</form>
<div><a href="/register">Register</a></div>
<div><a href="/deleteall">Delete all messages</a></div>
</body>
</html>
