<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Text</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <style>
        td {
            border: 1px solid black;
            table-layout: fixed;
            width: 100px;"
        }
    </style>
</head>
<body style="font-size: 20px">
<table>
    <thead>
    <td>Index</td>
    <td>Name</td>
    <td>Balance</td>
    <td>Animal type</td>
    <td>Is king?</td>
    </thead>
    <tbody th:each="bankAccount : ${bankAccounts}">
    <tr>
        <td th:utext="${bankAccountStat.index}"></td>
        <td th:utext="${bankAccount.name}"></td>
        <td th:utext="${#numbers.formatDecimal(bankAccount.balance,0, 2, 'POINT')}"></td>
        <td th:utext="${bankAccount.animalType}"></td>
        <td th:if="${bankAccount.isKing()}" th:utext="YES"></td>
        <td th:unless="${bankAccount.isKing()}" th:utext="NO"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
